body, h1, h2, h3, h4, h5, h6 {font-family: "Lato", sans-serif;}
body, html {
    height: 100%;
    color: #777;
    line-height: 1.8;
}

/* Parallax */
.bg_img_1 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('/Productivity/Coding/HTML/Portfolio/images/home/racoon_placeholder.png');
    min-height: 100%;
}

.display_container {
    position:relative;
}

.opacity_min {
    opacity:0.75;
}

.display_middle {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);
}

.centered {
    display:inline-block;
    width:auto;
}

.padding_large {
    padding:12px 24px!important;
}

.black {
    color:#fff!important;
    background-color:#000!important;
}

.x_large_wide {
    font-size:24px!important;
}

.wide {
    letter-spacing:4px;
}

@keyframes opac{
    from{opacity:0} to{opacity:1}
}

.animate_opacity {
    animation:opac 0.8s;
}